*{
    margin: 0;
    padding: 0;
    font-family: IBM Plex Sans Arabic;
}
.card{
    width: 300px;
    height: 400px;
    border-radius: 20px;
    box-shadow: rgba(240, 219, 219, 0.2) 0px 2px 8px 0px;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 13px;
}
.card h3{
    color: rgb(34, 33, 33);
    margin: 10px;
}
h5 b{
    font-size: 15px;
}
.card h5{
    color: #5AC99D;
    margin: 15px;
}
.card p{
    color: #3d9270;
    font-weight: 500;
    margin: 10px;
}
p b{
    color: #5AC99D;
    font-weight: 700;
}
.card a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    margin: auto;
    margin-top: 15px;
    background-color: #5AC99D;
    box-shadow: rgba(167, 175, 182, 0.2) 0px 8px 24px;
    width: 150px;
    height: 40px;
    font-size: large;
    border: none;
    border-radius: 10px;
}

.card a:hover{
    background-color: #3d9270;
    color: whitesmoke;
}
/* .flex{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center
    gap: 2%;
    margin-top: 50px;
} */
.fhd{
    
    height: 400px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: 2%;
    margin-top: 50px;
}
