@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@300;400;500;600;700&display=swap');

body {
    padding: 0;
    margin: 0;
    font-family: 'IBM Plex Sans Arabic';
    /* overflow-y: hidden; */
}

@media only screen and (max-width: 1000px) {
    .left_side {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    .back_cont {
        display: none;
    }
}


.back_cont button {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.597);
    font-size: 20px;
    font-weight: bold;
    background-color: #ffff;
    border: none;
    margin-right: 50%;

}
.right_side {
    margin: auto;
}
.right_side h1 {
    color: #1E1E1E;
    font-weight: bold;
}

.form_cont {
    display: flex;
    flex-direction: row-reverse;
}

.form-label {
    color: #3A3A3A;
    font-weight: 500;
    font-size: large;
    margin-right: 3%;
}

.form-select {
    background-color: #F4F5FB;
}

option {
    background-color: #F4F5FB;
    color: #787878;
    text-align: center;
}

.form-control {
    background-color: #F4F5FB;
    border: 1.5px solid #CCCCCC;
    height: 48px;
    border-radius: 9px;
    width:350px ;
}

.form-control::placeholder {
    color: #787878;
}


#email_addres {
    background-image: url("/img/envelope.png");
    background-repeat: no-repeat;
    background-position: center right;
    background-size: 18px;
    padding-right: 50px;
    background-position-x:right 15px;
}

#password {
    background-image: url("/img/lock.png");
    background-repeat: no-repeat;
    background-position: center right;
    background-size: 18px;
    padding-right: 50px;
    background-position-x:right 15px;
}


#form_btn {
    border-radius: 8px;
    background-color: #5AC99D;
    border:1px solid  #5AC99D;
    width: 100%;
    font-weight: 500;
    font-size: 18px;
    padding: 3% 0;
}

#form_btn_g {
    border-radius: 8px;
    background-color: #EBECF2;
    border:1px solid  #EBECF2;
    color: #787878;
    width: 100%;
    height: fit-content;
    font-weight: 500;
    margin-top: 8%;
    padding: 3% 0;
    font-size: 17px;
    background-image: url("/img/google.png");
    background-repeat: no-repeat;
    background-position: center left;
    background-size: 30px;
    /* padding-left : 50px; */
    background-position-x:left 48px;
}


.left_side {
    z-index: 9;
    background-color: #5AC99D;
    /* display: flex; */
    min-height: 750px;
    width: 45%;
    /* flex-direction: column; */
    /* align-items: center; */
    /* justify-: center; */
    margin-right: auto;
    transition: .25s ease;

}
.left_side img{
    margin:auto;
    /* width: 500px; */
    /* height: 500px; */
}

.right_side {
    margin-left:auto;
}

input {
    background-color: #F4F5FB;
}