@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@300;400;500;600;700&display=swap');

body {
    padding: 0;
    margin: 0;
    font-family: 'IBM Plex Sans Arabic';
    /* overflow-y: hidden; */
}

#side_nav {
    font-weight: 500;
}

#side_nav li {
    width: 100%;
    color: white;
}

#side_btn:hover {
    background-color: #4FAE88;
    width: 100%;
}
