@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@300;400;500;600;700&display=swap');

body {
    padding: 0;
    margin: 0;
    font-family: 'IBM Plex Sans Arabic';
    
    /* overflow-y: hidden; */
}

#side_nav {
    font-weight: 500;
}

#side_nav li {
    width: 100%;
    color: white;
}
#side_btn {
    width: 100%;
}
.nav-item {
    border-radius: 8px;
    transition: .25s ease-in-out;
}

.nav-item:hover {
    background-color: #4FAE88;
    width: 100%;
}

#side_btn:hover {
    background-color: #4FAE88;
    width: 100%;
}

.angle_down {
    background-image: url("/img/angle-small-down-white.png");
    background-repeat: no-repeat;
    background-size: 35px;
    padding-left: 50px;
    background-position: center left 15px;
}

#ss li a {
    color: white;
}


#ss1 li a {
    color: white;
}

#ss2 li a {
    color: white;
}

.dashboard {
    display: flex;
}

.not_suuport {
    display: none;
}

.deteils {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5%;
    margin: 5% 4%;
}

@media only screen and (max-width: 1000px) {
    .dashboard {
        display: none;
    }
    .not_suuport {
        display: block;
    }
}
