@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "IBM Plex Sans Arabic";
    background-color: #5ac99d;
}

.pay_cont {
    margin: 5% auto;
}

/* .pay_card { 
    margin: auto auto;
    background-color: white;
    height: 500px;
    width: 550px;

} */

