@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "IBM Plex Sans Arabic";
    margin: 5% auto;
    /* background-color: #5ac99d; */
}

/* 
.pay_cont {
    margin: 5% auto;
}

.pay_card { 
    padding: 5% 0;
    margin: auto auto;
    background-color: white;
    height: auto;
    width: auto;
    max-width: 530px;
} */

.payment_cont {
    margin: 0 5%;
}

.payment {
    /* padding: 5% 5%; */
    max-width: 430px;
    margin: 120px auto;
    border: 1px solid #cccc;
    padding-top: 80px;
    height: auto;
    border-radius: 8px;
}

.payment h1 {
    text-align: center;
    color: #3a3a3a;
    margin-bottom: 20px;
}

.payment h3 {
    text-align: center;
}

.payment_form label {
    display: block;
    color: #3a3a3a;
    font-size: 18px;
    margin-top: 10px;
}



#card_name {
    background-image: url("/img/user.png");
    background-repeat: no-repeat;
    background-size: 23px;
    background-position: center right 13px;
    padding-right: 50px;
}

#card_number {
    background-image: url("/img/credit-card.png");
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: center right 13px;
    padding-right: 50px;
}

#card_cvv {
    background-image: url("/img/lock.png");
    background-repeat: no-repeat;
    background-size: 23px;
    background-position: center right 13px;
    padding-right: 50px;
}

#card_exdata {
    background-image: url("/img/calendar.png");
    background-repeat: no-repeat;
    background-size: 23px;
    background-position: center right 13px;
    padding-right: 50px;
}

.card_info {
    padding: 0 2%;
}


.card_info input {
    width: 300px;
    height: 45px;
    margin-bottom: 1%;
}

.card_info input::placeholder {
    font-weight: normal;
}



input:focus {
    outline: none;
    border: none;
}

.payment_form #pay_now {
    margin: 3% auto;
    margin-bottom: 4%;
    display: flex;
    justify-content: center;
    padding: 3% 40%;
    background-color: #5ac99d;
    color: white;
    font-size: larger;
    border: none;
    border-radius: 8px;
}


.payment_form #applepay {
    display: none;
    margin: 3% auto;
    margin-bottom: 4%;
    padding: 9% 75.8%;
    background-color: black;
    color: white;
    border: none;
    border-radius: 8px;
    background-image: url("/img/apple-pay\ white.png");
    background-repeat: no-repeat;
    background-size: 50px;
    background-position: center;
    padding-right: 50px;
}

@media only screen and (max-width: 430px) {
    .payment_form  #applepay {
        display: flex;
        justify-content: center;
    }
}