@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@300;400;500;600;700&display=swap');

*{
    font-family: IBM Plex Sans Arabic;
}
.about-us{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.contect{
    width: 455px;
    height: max-content;
    margin: 12%;
    margin-top: 8%;
}
.contect h1{
    margin-bottom: 26px;
    color: #3a3a3a;
    font-weight: bold;
    font-size: 53px;
}
.contect p{
    color: #949494;
    font-size: 22px;
}

.nav {
    transition: .25s ease-in-out;
    background-color: white;
}

.nav-link {
    color: #1e1e1e;
    font-size: 23px;
    font-weight: 500;
    transition: .25s ease-in-out;
}

.nav-link:hover {
    color: #fff;
    background-color: #5ac99d;
    border-radius: 8px;
}

 #active:hover {
    color: white;
}


.navbar-nav {
    margin-right: 4%;
}

.navbar-toggler:focus {
    outline: none;
    border: none;
}

.nav.scrolled {
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

#signup {
    font-size: 23px;
    font-weight: 500;
    background-color: #5ac99d;
    border: 1px solid #5ac99d;
    margin-right: auto;
    padding: 5px 4%;
    margin-left: 3%;
}

    #btn_primary {
        padding: 2% 13%;
    }

    #btn_primary:hover {
        background-color: red;
        color: whitesmoke;
    }
    #outline_btn {
        padding: 2% 13%;
        outline: 2px solid #5ac99d;
        color: #5ac99d;
    }
    
    #outline_btn:hover {
        background-color: #5ac99d;
        color: whitesmoke;
    }
@media only screen and (max-width: 990px) {
    #signup {
        display: flex;
        justify-content: center;
        margin-top: 3%;
        margin-bottom: 2%;

        }
        .navbar-nav {
            margin-top: 3%;
        }
        .nav-link {
        font-size: 20px;
        padding-bottom: 1%;
        }
        .nav-link:hover {
            background-color: #fff;
            color: #787878;
        }
        #active:hover {
            color: #787878;
        }
        #btn_primary {
            padding: 1.5% 10%;
        }
        #outline_btn {
            padding: 1.5% 10%;
        }
}
@media only screen and (max-width: 991px) {
    .collapse{
        display: flex;
        align-items: self-end;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        width: 100%;
    }
    #signup{
        margin: 0;
    }
    .nav-link{
        padding-right: 0;
        margin-right: 0;
    }
}
@media only screen and (max-width: 809px){
    .about-us{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }
}
.about-us img{
    border: none;
    margin: 30px;
}