body{
    font-family: IBM Plex Sans Arabic;
}
nav{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-fluid{
    background-color: white;
    text-align: center;
}
.container-fluid a{
    font-size: 20px;
    border-radius: 7px;
    margin: 10px;
    font-weight: 500;
}
/* .container-fluid a:hover{
    background-color: #5AC99D;
    color: white;
    
} */
.logo{
    width: 75px;
    height: 75px;
    margin: 10px;
}
.pfp{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: white;
}
.navbar-nav img:hover{
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    margin-right: 0;
    
}
.navbar-nav{
    justify-content: space-between;
    width: 100%;
}
.nav-links{
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-links a:hover{
    background-color: #5AC99D;
    color: white;
}
.active{
    color: white;
    background-color: #5AC99D;
}
.button{
    color: #5AC99D;
    text-align: center;
    font-size: 22px;
    background-color: white;
    border: solid 2px #5AC99D;
    border-radius: 7px;
    padding: 10px;
    width: 160px;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
    height: 55px;
}
.button:hover{
    background-color: #5AC99D;
    color: white;
}